# name: IP de Gestión
# category: Management
# description: Configura la interfaz de gestión con IP estática y ruta por defecto.

interface {INTERFAZ}
 ip address {IP_MGMT} {MASCARA}
 description {DESCRIPTION}
 no shutdown
!
ip default-gateway {GATEWAY}